<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to Zesty Zomato</title>
    <link rel="stylesheet" href="../static/styles.css">
  </head>
  <body>
    <div class="container">
      <h1>Welcome to Zesty Zomato</h1>
      <p>Thank you for choosing us to satisfy your cravings!</p>
      <div class="button-container">
        <a href="/menu"><button>View Menu</button></a>
        <a href="/orders"><button>Place Order</button></a>
        <a href="/review_orders"><button>Review Orders</button></a>
        <a href="/exit"><button>Exit</button></a>
      </div>
    </div>
  </body>
</html>
